.wrap {
  padding: 10px;
}
.movieInfoWrap {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--first-text-color);
}

.movieInfoWrap ul {
  padding: 8px;
}
.movieInfoWrap img{
  width: 50vw;
  height: auto;
}
.addWrap {
  padding: 8px;
  background-color: var(--second-background-color);
  border-bottom: 1px solid var(--first-text-color);

}
.addList {
  display: flex;
  flex-direction: column;
}
.link {
  color: var(--first-text-color);
}
.isActive {
  color: var(--first-hover-color);
}
.goBackLink {
  border-radius: 8px;
  border: 1px solid var(--first-text-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--second-background-color);
  cursor: pointer;
  transition: border-color 0.25s, color 0.25s;
  color: var(--first-text-color);
  display: inline-block;
}
.goBackLink:hover {
  color: var(--first-hover-color);
  border-color: var(--first-hover-color);
}

@media screen and (min-width: 860px) {
  .innerWrap{
    display: flex;
  }
}