.header {
  border-bottom: 1px solid var(--first-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}
.list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}
.link {
  color: var(--first-text-color);
  display: flex;
  align-items: flex-end;
line-height: 1;
}
.isActive {
  color: var(--first-hover-color);
}

.homeIcon{
  height: 21px;
  width: 21px;
}
