.header {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.link {
  color: black;
}
.isActive {
  color: brown;
}

.homeIcon{
  height: 21px;
  width: 21px;
}
